<hgroup>
  <ul class="social-links">
    <li><span class="icon twitter"><a href="https://twitter.com/williewheeler">Twitter</a></span></li>
    <li><span class="icon github"><a href="https://github.com/williewheeler">GitHub</a></span></li>
    <li><span class="icon stackoverflow"><a href="http://stackoverflow.com/users/41871/willie-wheeler">Stack Overflow</a></span></li>
    <li><span class="icon linkedin"><a href="http://www.linkedin.com/in/williewheeler">LinkedIn</a></span></li>
  </ul>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
